h1{
    color: aliceblue;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
}
h2{
    color: aqua;
    font-family: sans-serif;
    text-align: center;
}
h3{
    font-family: sans-serif
}
p{
    font-weight: 900;
    text-decoration: overline
}
th{
    font-weight: 800
}
th{
    font-weight     : 800;
    background-color: #2695A6;
    color           : #ffffff;
}